In [6]:
#匯入csv檔案
#ZOONA-動物園AR/VR混合專案 懷生國小A班頭像使用排行

import pandas as pd

avatarData_A = pd.read_csv("data1.csv",encoding="Big5")
avatarData_A

   排名 drama/variety show
0   1              動物-老虎
1   2              動物-駱駝
2   3              其他-鑽石
3   4              其他-地球
4   5             動物-貓頭鷹
5   6              其他-珍奶
6   7               元素-魂
7   8              動物-刺蝟
8   9              動物-鯊魚
9  10              動物-松鼠

In [7]:
#匯入csv檔案
#ZOONA-動物園AR/VR混合專案 懷生國小B班頭像使用排行

import pandas as pd

avatarData_B = pd.read_csv("data2.csv",encoding="Big5")
avatarData_B

   排名 drama/variety show
0   1              其他-鑽石
1   2              動物-駱駝
2   3             動物-變色龍
3   4              其他-地球
4   5             動物-貓頭鷹
5   6              其他-珍奶
6   7               元素-時
7   8              其他-彩虹
8   9              動物-鯊魚
9  10              動物-綿羊

In [8]:
#列出A班排行子集合
set_dataA = set(avatarData_A["drama/variety show"])
set_dataA

{'元素-魂',
 '其他-地球',
 '其他-珍奶',
 '其他-鑽石',
 '動物-刺蝟',
 '動物-松鼠',
 '動物-老虎',
 '動物-貓頭鷹',
 '動物-駱駝',
 '動物-鯊魚'}

In [9]:
#列出B班排行子集合
set_dataB = set(avatarData_B["drama/variety show"])
set_dataB

{'元素-時',
 '其他-地球',
 '其他-彩虹',
 '其他-珍奶',
 '其他-鑽石',
 '動物-綿羊',
 '動物-變色龍',
 '動物-貓頭鷹',
 '動物-駱駝',
 '動物-鯊魚'}

In [10]:
#交集
#A班【與】B班都有上榜的頭像
(set_dataA & set_dataB)

{'其他-地球', '其他-珍奶', '其他-鑽石', '動物-貓頭鷹', '動物-駱駝', '動物-鯊魚'}

In [11]:
#聯集
#A班【或】B班有上榜的頭像
(set_dataA | set_dataB)

{'元素-時',
 '元素-魂',
 '其他-地球',
 '其他-彩虹',
 '其他-珍奶',
 '其他-鑽石',
 '動物-刺蝟',
 '動物-松鼠',
 '動物-綿羊',
 '動物-老虎',
 '動物-變色龍',
 '動物-貓頭鷹',
 '動物-駱駝',
 '動物-鯊魚'}

In [12]:
.#差集
#A班有上榜但B班沒有上榜的頭像
(set_dataA - (set_dataA & set_dataB))

{'元素-魂', '動物-刺蝟', '動物-松鼠', '動物-老虎'}

In [13]:
#差集
#B班有上榜但A班沒有上榜的頭像
(set_dataB - (set_dataA & set_dataB))

{'元素-時', '其他-彩虹', '動物-綿羊', '動物-變色龍'}

In [16]:
#對稱差集
#只有A班有上榜或只有B班有上榜的頭像
((set_dataA | set_dataB) - (set_dataA & set_dataB))

{'元素-時', '元素-魂', '其他-彩虹', '動物-刺蝟', '動物-松鼠', '動物-綿羊', '動物-老虎', '動物-變色龍'}